* {
  box-sizing: border-box;
}
h1 {
  margin-block-start: 0em !important;
}
.wrapper {
  margin: 0;
  padding: 0;
  border: 0;
}
.img-area {
  display: flex;
  flex-wrap: wrap;
  /* align-content: flex-start; */
  align-items: center;
  justify-content: center;
  /* padding: 1px; */
}

.item {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 500px;
  height: 281px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow: 0 0 3px #000;
  max-width: 100%;
  max-height: fit-content;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.item:hover .image {
  opacity: 0.3;
}

.item:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04e675;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 5px;
  border-width: 0px;
}

a {
  text-decoration: none;
}
