.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url("../asset/img/catcover.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
}

.masthead h3 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
    padding-top: 20%;
  }
}

.scrollTitle {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 2rem;
}

.buttonMenu {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  background-color: transparent;
  font-size: 1.2rem;
  position: relative;
  left: 30%;
  bottom: 20%;
}
.buttonMenu:hover {
  color: #dddddd;
  border-color: #dddddd;
}
.buttonMenu:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}
